*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgb(242, 242, 242);
    /* background-image: url("./images/pexels-mustafa-türkeri-1651166.jpg"); */
    /* background-image: url("./images/homeBG.jpeg");
    background-repeat: no-repeat;
    background-size:100% 100vh; */
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:burlywood; */
    padding-inline: 30px;
    height: 70px;
    width: auto;
}

#header #logo{
    width: 200px;
    height: 80px;
    margin-top: 25px;
    display: inline-block;
    /* background-color: aquamarine; */
}

#header ul li {
    list-style-type: none;
    /* background-color: tomato; */
    width: auto;
    float: left;
}

#header li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-decoration: none;
    /* float: left;  */
    width: 80px;
    border-radius: 5px;
    margin-inline: 1px;
    color: #000;
    cursor: pointer;
    height: 40px;
     display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

#header li a:hover{
    background-color: rgba(109, 107, 107, 0.979);
    color: #fff;
    transition: all 0.6s;
    scale: 0.9;
    /* width: 150px; */
}
#header img{
    width: 20px;
    height: 20px;
    display: none;
}

#header .active{
    color: #ddd9d9;
    background-color: rgb(45, 82, 37);
    /* width: 100px; */
}

form.example input[type=text] {
    padding: 9px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  form.example button {
    float: left;
    width: 20%;
    padding: 9px;
    background: rgb(45, 82, 37);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  form.example button:hover {
    background: rgb(74, 133, 61);
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }





  #sideMenu{
    z-index: 1;
    display: none;
    background-color: rgb(63, 63, 63);
    width: 250px;
    text-align: center;
    height: fit-content;
    border-radius: 3px;
    transition: all 0.5s;
    position: absolute;
    right: 0;
    margin-top: -25px;
    margin-right: 30px;
}

#sideMenu li{
    padding: 15px;
    /* background-color: #000; */
    margin-block: 2px;
    list-style: none;
    width: 250px;

}

#sideMenu li:hover{
    background-color: rgb(133, 136, 135);
    cursor: pointer;
}

#sideMenu a {
    text-decoration: none;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}


#container{
    margin-top: 25px;
    width: 100%;
    /* background-color: aquamarine; */
    height: 100%;
    display: flex;

}
#sideNavBar{
    width: 20%;
    height: auto;
    /* border: 1px solid black; */
    border-right: none;
    padding: 5px;
    /* background-color:turquoise;
    border: 1px solid black; */
    
}
#sideNavBar li {
    width: auto;
    height: 100px;
    color: #000;
    padding: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    /* background-color: rgb(45, 82, 37); */
}
#sideNavBar li:hover {
    background-color: rgba(109, 107, 107, 0.979);
    cursor: pointer;
    color: #fff;
}

#sideNavBar li:focus {
    background-color: rgb(45, 82, 37);
    cursor: pointer;
}
 #rightPanel{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* border: 1px solid; */
    padding:5px;
    /* background-color: yellowgreen; */
}
#rightPanel table{
    /* line-height: 30spx; */

    width: 45%;
    height: fit-content;
    /* border-left: 1px solid black; */
    border-collapse: collapse;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#rightPanel table th{
    background-color: rgb(45, 82, 37);
    font-size: 28px;
    color: #fff;
    /* line-height: 20px; */
    padding: 3px;
}
#rightPanel table tr{
    margin-block: 20px;
}

#rightPanel table td:nth-child(3n+2){padding-left: 50px;}

footer{
    background-color: rgb(107, 106, 106);
    color: #fff;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    width:100%;
}

@media screen and (max-width: 500px) {
    #header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: aquamarine; */
        width: 100%;   
    }
    #header li{
        display: none;
    }
    #header #menuImage{
        display:block;
        cursor: pointer;
    }
    
    #sideMenu{display:none;}
    body{
        background-size: 200% 100vh;
    }
    #header #logo{width: 100px; height: 50px; margin-top: 0px;}
    #header form.example input[type=text] {
        padding: 9px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 60%;
        background: #f1f1f1;
      }
      #main{display: flex; flex-direction: column;
    align-items: center;justify-content: space-between; margin-block: 20px;}
}



@media screen and (max-width: 720px) {
    #header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: aquamarine; */
        width: 100%;   
    }
    #header li{
        display: none;
    }
    #header #menuImage{
        display:block;
        cursor: pointer;
    }
    
    #sideMenu{display:none;}
    body{
        background-size: 200% 100vh;
    }
    #header h1{font-size: 18px;}
    #header form.example input[type=text] {
        padding: 9px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 60%;
        background: #f1f1f1;
      }
      #main{display: flex; flex-direction: column;
    align-items: center;justify-content: space-between; margin-block: 20px;}
}

@media screen and (max-width: 1100px) {
    #header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: aquamarine; */
        width: 100%;   
    }
    #header li{
        display: none;
    }
    #header #menuImage{
        display:block;
        cursor: pointer;
    }
    
    #sideMenu{display:none;}
    
    #header h1{font-size: 28px;}
    #header form.example input[type=text] {
        padding: 9px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 60%;
        background: #f1f1f1;
      }
      #main {display:flex; flex-direction: column;
        align-items: center;justify-content:space-between; }
    #main .flip-card{margin: 30px;}

    #container{
        margin-top: 25px;
        width: 100%;
        /* background-color: aquamarine; */
        height: 100%;
        display: block;
    
    }
    #sideNavBar{
        width: 100%;
        height: auto;
        /* border: 1px solid black; */
        border-right: none;
        padding: 5px;
        /* background-color:turquoise;
        border: 1px solid black; */
    }

    #rightPanel{
        width: 100%;
        height: fit-content;
        display: block;
        /* align-items: center; */
        /* border: 1px solid; */
        padding:5px;
        /* background-color: yellowgreen; */
    }

    #rightPanel table{
        /* line-height: 30spx; */
    
        width: 100%;
        height: auto;
        /* border-left: 1px solid black; */
        border-collapse: collapse;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        overflow: visible;
    }
    /* #rightPanel table td:nth-child(3n+2){padding-left: 10px; background-color: aquamarine; text-align: center;}
    #rightPanel table td:nth-child(3n+1){background-color: blueviolet;}
    #rightPanel table td:nth-child(3n){background-color: brown;} */

    #footer{
        position:fixed;
    }
}